/*Color pallette from http://flatuicolors.com */

@fui-tuquoise: #1abc9c;
@fui-greensea: #16a085;

@fui-emerald: #2ecc71;
@fui-nephritis: #27ae60;

@fui-peterriver: #3498db;
@fui-belizehole: #2980b9;

@fui-amethyst: #9b59b6;
@fui-wisteria: #8e44ad;

@fui-wetasphalt: #34495e;
@fui-midnightblue: #2c3e50;

@fui-sunflower: #f1c40f;
@fui-orange: #f39c12;

@fui-carrot: #e67e22;
@fui-pumpkin: #d35400;

@fui-alizarin: #e74c3c;
@fui-pomegranate: #c0392b;

@fui-clouds: #ecf0f1;
@fui-silver: #bdc3c7;

@fui-concrete: #95a5a6;
@fui-asbestos: #7f8c8d;