.clearfix {
	display: block;
	clear: both;
	width: 100%;
}

footer {
	clear: both;
	text-align: center;
	margin-top: @margin-base*2;
	background-color: @fui-concrete;
	color: @fui-clouds;
	padding: @padding-base 0 @padding-base 0;
}