header {
	padding-left: @padding-base;
	margin: 0;

	background-color: @color-darker;
	@media (min-width: @break-medium) {
		text-align: center;
	}
	svg {
		//cursor: pointer;
		display: inline-block;
		path {
			fill: @fui-silver;
		}
	}
	h1 {
		display: inline-block;

		margin: @margin-base/2;
		margin-right: 0;

		font-family: 'Lobster';
		font-size: 3.4em;
		color: @color-bg;
	}
}