section#newRating {
	max-width: 100%;
	margin-top: @margin-base;
	padding: @padding-base;

	background-color: @color-bg;
	text-align: center;
	@media (min-width: @break-large) {
		display: inline-block;
		float: right;
		width: 35%;
		margin-right: @margin-base;

		border-radius: @border-rad-base;
	}
	input, textarea {
		width: 80%;
		padding: @padding-base/2;

		font-family: 'Noto Sans', sans-serif;

		box-shadow: none;
		.border();
		outline: none;
		.transition();
		&:active, &:focus {
			.border(@c: @color-dark);
		}
		@media (min-width: @break-small) {
			display: block;
			width: 60%;
			margin-left: auto;
			margin-right: auto; 
		}
		@media (min-width: @break-medium) {
			width: 45%;
		}
	}
	input[type="text"] {
		@media (min-width: @break-small) {
			text-align: center;
		}
	}
	button {
		.button();
	}
}

#newScore {
	font-size: 2em;
	color: @color-warning;
	span {
		.transition();
		display: inline-block;
		cursor: pointer;
		&:hover, &:focus, &:active {
			border: none;
			outline: none;
			.scale(1.5, 1.5);
		}
	}
}