#template {
	display: none;
}

section#ratings {
	@media (min-width: @break-small) {
		display: block;
		width: 80%;
		margin-left: auto;
		margin-right: auto; 
	}
	@media (min-width: @break-medium) {
		width: 70%;
	}
	@media (min-width: @break-large) {
		display: inline-block;
		float: left;
		width: 60%;
	}
	h2 {
		text-align: center;
	}
}

div.rating {
	position: relative;
	display: block;
	width: 80%;

	padding: @padding-base;
	margin: @margin-base/2 auto @margin-base/2 auto;

	cursor: pointer;

	background-color: @fui-clouds;

	border-radius: @border-rad-base;
	.transition(@prop: box-shadow);
	.shadow(@h: -1px; @v: 2px; @blur: 0; @spread: 0px);

	&:active, &:focus {
		outline: none;
		.border(@c: lighten(@color-light, 20%));
		border-radius: @border-rad-base;
	}
	.name {
		text-align: center;
		margin-top: .4em;
		margin-bottom: .4em;
	}
	span.date {
		position: absolute;
		bottom: 0;
		right: 0;

		padding: @padding-base;

		border-bottom-right-radius: @border-rad-base;
		border-top-left-radius: @border-rad-base;


		background-color: @fui-concrete;
		color: @fui-clouds;

		//.shadow(@h: -1px; @v: 1px; @blur: 1px; @spread: 1px; @color: @fui-asbestos);
	}
	div.score {
		position: absolute;
		top: 0;
		left: 0;

		padding: @padding-base;

		border-bottom-right-radius: @border-rad-base;
		border-top-left-radius: @border-rad-base;

		font-size: 1em;

		background-color: @color-warning;
		color: @color-bg;
	}
	p.text {
		display: none;

		padding: @padding-base*2;
		text-align: justify;
	}
}

div.rating.open {
	//.transition(@prop: box-shadow);
	//.shadow(@h: -1px; @v: 2px; @blur: 0; @spread: 1px);
}