section#shop {
	display: block;
	width: 100%;
	margin: 0 auto;
	padding-top: @padding-base;
	padding-bottom: @padding-base;

	text-align: center;
	background-color: @color-bg;
	color: @color-darker;
	address {
		display: inline-block;
		text-align: left;
	}
	h2 {
		margin: @margin-base/2;
		text-align: center;
		@media (min-width: @break-medium) {
			display: inline-block;
			position: relative;
			bottom: 1.5em;
			margin-right: @margin-base
		}
	}
	img {
		display: inline-block;
		max-height: 6em;
		margin-right: @margin-base*2;
	}
}
	