body {
	font-family: 'Noto Sans', sans-serif;
	font-size: @font-size-base;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Domine', serif;
}

a {
	color: @color-link;
	&:hover, &:active, &:focus {
		color: darken(@color-link, 10%);
		text-decoration: none;
	}
}