/*Base colors */

@color-light: @fui-belizehole;
@color-dark: @fui-wetasphalt;
@color-darker: @fui-midnightblue;
@color-bg: @fui-clouds;

@color-true: @fui-emerald;
@color-warning: @fui-sunflower;
@color-false: @fui-alizarin;

@color-link: @fui-amethyst;
/*Base font-size and weight */
@font-base: 16px;
@font-weight-base: 400;

/*Base padding and margin */
@padding-base: 6px;
@margin-base: 6px;

/*Base font-size and weight */
@font-size-base: 16px;
@font-weight-base: 400;

/*Base padding and margin */
@padding-base: .5em;
@margin-base: .5em;

/*Border bases */
@border-rad-base: .8em;

/*Breakpoints */
@break-small: 650px;
@break-medium: 850px;
@break-large: 1050px;


//MIXINS

.transition(@prop: all; @time: .2s; @ease: ease-in-out) {
	transition: @prop @time @ease;
	-webkit-transition: @prop @time @ease;
	-moz-transition: @prop @time @ease;
	-o-transition: @prop @time @ease;
}

.rotate(@amount) {
	transform: rotate(@amount);
	-webkit-transform: rotate(@amount);
	-ms-transform: rotate(@amount);
	-o-transform: rotate(@amount);
-moz-transform: rotate(@amount);
}

.scale(@x; @y) {
	transform: scale(@x, @y);
	-webkit-transform: scale(@x, @y);
	-ms-transform: scale(@x, @y);
	-o-transform: scale(@x, @y);
-moz-transform: scale(@x, @y);
}

.button(@bg: @color-light; @color: @fui-clouds) {
	display: inline-block;
	padding: @padding-base 2*@padding-base @padding-base 2*@padding-base;
	margin: @margin-base/2;
	
	cursor: pointer;

	background-color: @bg;
	color: @color;

	.border(@c: lighten(@color-light, 4%); @w: 1px; @rad: @border-rad-base);

	text-decoration: none;
	&:hover, &:active {
		background-color: darken(@bg, 10%);
	}
}

.border(@w: 2px; @s: solid; @c: @color-light; @rad: 0) {
	border: @w @s @c;
	border-radius: @border-rad-base;
}

.shadow(@h: 4px; @v: 4px; @blur: 4px; @spread: 4px; @color: @fui-silver) {
	box-shadow: @h @v @blur @spread @color;
}